.apertium-popup-translate {
    display: none;
    background-color:lightblue;
    border-radius:5px;
    min-width:40px;
    min-height:35px;
    box-shadow: 5px 5px 5px #888888;
    z-index: 100000;
    position: absolute;
    left: 100px;
    top: 150px;
}

.apertium-popup-translate-text {
    display: table-cell;
    vertical-align: middle;
    margin:auto;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    color: black;
    font-family: Arial, sans-serif;
}